@font-face {
	font-family: "FG";
	font-weight: 500;
	src: url('https://osk.sh/framd.ttf');
}
@font-face {
	font-family: "FG";
	font-weight: 900;
	src: url('https://osk.sh/frahv.ttf');
}

body {
    background-color: #0c0044;
    color: #CCCCCC;
    font-family: 'FG';
    font-size: 16px;
}

input.word_input {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 70px;
    border-radius: 40px;
    font-size: 28px;
    text-align: center;
    text-shadow: 6px 6px 10px #b5b5b5
}

button.submit_button:hover {
    width: 119px; /* Width on hover */
    left: 57.7%;
}

button.submit_button:hover::after {
    content: "SUBMIT"; /* Text to reveal on hover */
    white-space: normal; /* Allow the text to wrap */
    font-size: 22px;
    font-family: "FG";
    color: white;
}

button.submit_button {
    transition: width 1s, left 1s; /* Add a transition effect */
    overflow: hidden; /* Hide the overflowing text */
    white-space: nowrap; /* Prevent the text from wrapping */
    text-overflow: ellipsis; /* Show an ellipsis for the overflowing text */
    position: fixed;
    left: 63%;
    top: 40.7%;
    transform: translate(50%, 50%);
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    height: 65px;
    width: 65px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 40px;
    background-color: lightblue;
}

h1.a {
    margin-top: 200px;
    margin-bottom: 0px;
    text-align: center;
}

table, td, th {
  border: 1px solid;
  text-align: center;
}

th.kw {
    width: 10em;
}

th.docname {
    width: 15em;
}

th.lang {
    width: 5em;
}

th.url {
    width: 25em;
}

.sidebar {
    height: 100%;
    width: 150px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #08002b;
    padding-top: 20px;
}

.sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
}

.sidebar a:hover {
    background-color: #464646;
}

.table-content {
    margin-left: 150px;
    padding: 20px;
}
