{% extends "base.html" %}

{% block scripts %}
<script>
            function getQuery() {
                let query = document.getElementById("search_query").value;
                console.log(encodeURI(query));
                return encodeURI(query)
            }
            function redirectToResult(queryURI) {
                window.location.replace("/search?q=" + getQuery())
            }
        </script>
{% endblock %}

{% block body %}
<div class="table-content">
    <input type="text" placeholder="input text" id="search_query">
    <button type="submit" id="search" onclick="redirectToResult()">search</button>
    <br><br>
    {% if data.status != "error" %}
        <table>
            <tr>
                <th class="keyword">kwords</th>
                <th class="docname">docname</th>
                <th class="lang">lang</th>
                <th class="url">url</th>
            </tr>
            {% for item in data.info %}
                <tr>
                    <td>{{ item.keyword }}</td>
                    <td>{{ item.docname }}</td>
                    <td>{{ item.lang }}</td>
                    <td><a href="{{ item.url }}">URL</a></td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        empty input or nothing found
    {% endif %}
</div>
{% endblock %}
