{% extends "base.html" %}

{% block title %}Поиск{% endblock %}

{% block scripts %}
<script>
            function getQuery() {
                let query = document.getElementById("search_query").value;
                console.log(encodeURI(query));
                return encodeURI(query)
            }
            function redirectToResult(queryURI) {
                window.location.replace("/search?q=" + getQuery())
            }
        </script>
{% endblock %}

{% block body %}
<div class="table-content">
    <div class="search-container">
    <input type="text" placeholder="Введите запрос..." class="search-input" id="search_query">
    <button type="submit" id="search" class="search-button" onclick="redirectToResult()">
        <span class="search-icon">🔍</span>
        <span class="search-text">Поиск</span>
    </button>
    </div>
    <br><br>
    {% if data.status != "error" %}
        <table>
            <tr>
                <th class="keyword">Ключевые слова</th>
                <th class="docname">Название документа</th>
                <th class="lang">Язык</th>
                <th class="url">Ссылка</th>
            </tr>
            {% for item in data.info %}
                <tr>
                    <td>{{ item.keyword }}</td>
                    <td>{{ item.docname }}</td>
                    <td>{{ item.lang }}</td>
                    <td><a href="{{ item.url }}">Ссылка</a></td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
    <span class="nothing-found-text">ничего не найдено</span>
    {% endif %}
</div>
{% endblock %}
